
  
  .aiml-container h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 60px;
  }
  
  .aiml-container h3 {
    font-weight: bold;
    color: #f5f5f5;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  
  .aiml-container p {
    color: #f9f5f5;
    font-size: 22px;
    line-height: 2;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: auto;
  }

  
  

  
  



  